.Jumbotron {
	background-color: darkcyan ;
	width: 50%;
    height: 500px;
	left: 25%;
    border-radius: 15%;
	text-align: center;
	border: 3px solid black;
	position: relative;
}
h1::first-letter {
	font-family: "Times New Roman", Times, serif; /* Гарнитура шрифта первой буквы */
	font-size: 200%; /* Размер шрифта первого символа */
	color: red; /* Красный цвет текста */
}
p {
	font-size: 150%;
	margin-left: 20px;
	margin-right: 20px;
}

